.overlay {
    background: black;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.time {
    font-size: 2rem;
    color: gray;
}

.tags {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    color: gray;
    font-size: 4rem;
    span {
        margin-left: 1rem;
        &.active {
            color: white;
        }
    }
}

.slide {
    font-size: 3rem;
    white-space: pre-line;
    margin: 0;
    &.first {
        margin-top: 1rem;
    }
}

.container {
    margin-left: 1rem;
}

.nextSlides {
    font-size: 2rem;
    margin-top: 1rem;
    color: gray;
    .slide {
        font-size: 2rem;
    }
}